.skills{
    height:90vh;  
 width: 100%;
 bottom: 0;
    }
.html-data{
    border-radius: 1px;
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);         
    padding: 30px;
}
.html-data:hover{
    background-image: linear-gradient(to left, rgb(202, 198, 198) , rgb(40, 233, 153));

}
.css-data{
    border-radius: 1px;
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);  
    padding: 30px;
}
.css-data:hover{
    background-color: #339966;
    transition: 0.4s;

    
}
.js-data{
    border-radius: 1px;
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.2);  
    padding: 30px;
   
}

.js-data:hover{
     background-image: linear-gradient(to right, rgb(202, 198, 198) , rgb(40, 233, 153));
  
     
}