.Image{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.Content{
  border: 1px solid red;
  position: absolute;
  top:160px;
  left:100px;
  height: 310px;
}
p , h1 {
  width: 500px;
  text:white;
}

.App {
  text-align: center;
}

